/* Remove default spacing */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Body */

body{
    background:whitesmoke;
    color:black;
    line-height:1.6;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:white;
    box-shadow:0px 2px 8px lightgray;
    position:sticky;
    top:0;
}

/* Logo */

.logo h2{
    color:royalblue;
    font-size:34px;
}

.logo span{
    color:gray;
    font-size:14px;
}

/* Navigation */

nav{
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:royalblue;
}

/* Hero */

.hero{
    background:aliceblue;
    padding:90px 20px;
    text-align:center;
}

.hero h1{
    font-size:52px;
    color:midnightblue;
    margin-bottom:20px;
}

.hero p{
    width:70%;
    margin:auto;
    font-size:20px;
    color:dimgray;
}

/* Highlights */

.highlights{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:35px;
    margin-bottom:40px;
    flex-wrap:wrap;
}

.highlights span{
    background:white;
    padding:12px 20px;
    border-radius:25px;
    box-shadow:0px 2px 6px lightgray;
    font-weight:bold;
}

/* Hero Buttons */

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

/* Common Button */

.btn{
    text-decoration:none;
    background:royalblue;
    color:white;
    padding:14px 28px;
    border-radius:8px;
    transition:0.3s;
    font-weight:bold;
}

.btn:hover{
    background:steelblue;
}

/* About */

.about{
    padding:80px 10%;
    text-align:center;
}

.about h2{
    font-size:36px;
    color:midnightblue;
    margin-bottom:20px;
}

.about p{
    font-size:18px;
    color:dimgray;
}

/* Mission and Vision */

.about-box{
    display:flex;
    gap:30px;
    margin-top:50px;
}

.box{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0px 2px 8px lightgray;
    transition:0.3s;
    flex:1;
}

.box:hover{
    transform:translateY(-8px);
}

.box h3{
    color:royalblue;
    margin-bottom:15px;
}

/* Services */

.services{
    background:aliceblue;
    padding:80px 10%;
    text-align:center;
}

.services h2{
    font-size:36px;
    color:midnightblue;
    margin-bottom:50px;
}

.service-box{
    display:flex;
    gap:30px;
}

.card{
    flex:1;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0px 2px 8px lightgray;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.icon{
    font-size:45px;
    margin-bottom:20px;
}

.card h3{
    margin-bottom:15px;
    color:royalblue;
}

.card p{
    margin-bottom:30px;
    color:dimgray;
}

/* Footer */

footer{
    background:midnightblue;
    color:white;
    text-align:center;
    padding:35px;
}

footer h3{
    font-size:28px;
    margin-bottom:10px;
}

footer p{
    margin:8px;
}

/* Responsive */

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    nav{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:36px;
    }

    .hero p{
        width:100%;
        font-size:18px;
    }

    .hero-buttons{
        flex-direction:column;
        align-items:center;
    }

    .about-box{
        flex-direction:column;
    }

    .service-box{
        flex-direction:column;
    }

}